html, body {
    background: linear-gradient(180deg, #1E1F29 0%, #272B4B 100%) no-repeat;
    min-height: 100vh;
}
body {
    height: auto;
}

.messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 50px;
    box-sizing: border-box;
}
