.wrapper {
  display: flex;
  flex-direction: column;
  background: #6967D2;
  border-radius: 30px;
  width: fit-content;
  padding: 0 28px 17px 12px;
  color: white;
  margin-bottom: 15px;
}

.author {
  background: #E63C7F;
  width: fit-content;
  border-radius: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
