.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  background: #61dafb;
  color: white;
  border-radius: 20px;
  width: 200px;
}
